body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid gray;
}
#map {
  display: flex;
  flex-wrap: wrap;
}

.withoutRigthBorder{
  border-right: 0;
}

.withoutBottomBorder {
  border-bottom: 0;
}
